@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

:root {
  --background: #171717;
  --foreground: #ededed;
  --font-archivo: "Archivo", sans-serif;
}

/* Apply Archivo font globally */
* {
  font-family: var(--font-archivo);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
}

.mapboxgl-popup-close-button {
  @apply text-gray-700 font-bold opacity-100 focus:outline-none;
}

.mapboxgl-popup-close-button:hover {
  @apply text-gray-900;
}

.mapboxgl-popup-close-button {
  @apply m-2 p-1 text-gray-700 hover:text-gray-900 bg-white rounded-full;
}
