@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-close-button {
  @apply text-gray-700 font-bold opacity-100 focus:outline-none;
}

.mapboxgl-popup-close-button:hover {
  @apply text-gray-900;
}
